.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #e1e3fa;
  }
  footer ul.footerleft{
      margin-left: 150px;
      margin-top: 10px;
  }
  footer ul.footerleft li{
      display: inline;
      margin-right: 25px;
  }
  footer a{
      color: #222;
  }
  
  footer a:hover{
      color: #ffffff;
      text-decoration: none;    
  }
  
  
  .inc{
    background-color: cadetblue;
  }